@import "tailwindcss";
@plugin "@tailwindcss/typography";
@theme {
  --font-mono: "Fira Mono", ui-monospace, monospace;
  --color-primary: #4c2215;
  --color-secondary: #981d26;
  --color-accent: #e5a631;
  --color-background: #f2e1c5;
}

body {
  font-family: var(--font-mono);
  background-color: var(--color-background);
  ::selection {
    color: var(--color-background);
    background: var(--color-secondary);
  }
}
