@import "tailwindcss";

@theme {
  --font-mono: "Ubuntu Mono", ui-monospace, monospace;
  --color-primary: #4C2215;
  --color-secondary: #981D26; 
  --color-accent: #E5A631;
  --color-background: #F2E1C5;
}

body {
  font-family: var(--font-mono);
  background-color: var(--color-background);
}
